<div id="contact"class="container" style="padding-top: 55px">
	<div class="container pt-5" data-aos="fade-down" data-aos-duration="2000">
		<h1  *ngIf= "lang =='ing'">Contact</h1>
		<h1  *ngIf= "lang =='esp'">Contacto</h1>
	</div>
	<div class="container row" data-aos="fade-up" data-aos-duration="2000">
		<div class=" container logotipo col-lg-4 col-md-6">
          <img src="../../assets/img/logo.jpg">
        </div>
        <div class="container info col-lg-4 col-md-6">
        	<div class="container informacion">
        		<h4><span class="ion ion-md-mail"></span>ron.c@mtz-solutions.com</h4>
        	</div>
        	<div class="container informacion">
        		<h4><span class="ion ion-md-call"></span>+1 305 850 0731</h4>  	
        	</div>
        	<div class="container informacion">
        		<h4><span class="ion ion-logo-facebook"></span><a href="https://www.facebook.com/pages/category/Telecommunication-Company/MTZ-Solutions-102303438148511/">Facebook</a></h4>  	
        	</div>
        </div>
        <div class="container col-lg-4 col-md-12">
        	<img src="../../assets/img/features-3.jpg" style="width: 100%">
        </div>
    </div>
</div>
