<div class="img col-lg-12" style="height: 450px">
	<!-- ======= Hero Section ======= -->
	<section class="container" id="hero">
		<div class="continer"data-aos="fade-left" data-aos-duration="3000">
			<div class="container-hero" *ngIf="lang=='ing'">
		      <h1 >Welcome to MTZ Solutions</h1>
		      <h2>ESLOGUEISHON</h2>
		    </div>
		    <div class="container-hero" *ngIf="lang=='esp'">
		      <h1 >Bienvenido a MTZ Solutions</h1>
		      <h2>ESLOGAN</h2>
		    </div>
		</div>
    
  </section><!-- End Hero -->
</div>