 <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <a href="mailto:contact@example.com"><span class="ion ion-md-mail ml--5 mr-1"></span>ron.c@mtz-solutions.com</a>
        <span class="ion ion-md-call ml-3 mr-1"></span>+1 305 850 0731
      </div>
     <!-- <div class="social-links">
        <a href="#" class="facebook"><span class="ion ion-logo-facebook"></span></a>
        <a href="#" class="messenger"><img src="../../assets/img/icons8-facebook-messenger.svg"></a>
      </div>-->
    </div>
  </div>
  <header id="header"class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light  mt-40">
  <a [routerLink]="['inicio']" class="logo mr-auto"><img src="assets/img/logo.jpg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <a class="nav-link" (click)="scrollh()" *ngIf= "lang =='ing'">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="scrollh()" *ngIf= "lang =='esp'">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrolla()" *ngIf= "lang =='ing'">About Us</a>
        <a class="nav-link" (click)="scrolla()" *ngIf= "lang =='esp'">Nosotros</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" (click)="scrolls()" *ngIf= "lang =='ing'">Services</a>
        <a class="nav-link" (click)="scrolls()" *ngIf= "lang =='esp'">Servicios</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" (click)="scrollcontact()" *ngIf= "lang =='ing'">Contact</a>
        <a class="nav-link" (click)="scrollcontact()" *ngIf= "lang =='esp'">Contacto</a>
      </li>
      <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="ion ion-md-globe mr-3"></span>
        </a>
        <div class="form-group" >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" #select  *ngFor="let item of list" [value] ="item.id" (click)="logDropdown(select.value)">{{item.name}}</a>
        </div>
      </div>
      </li>
    </ul>
    
  </div>
</nav>
  </header>

<div #cuerpo id="cuerpo"class="container-fluid" style="padding: 0px;padding-top:45px">
   
  
<app-home></app-home> 
<app-about #about ></app-about> 
<app-services #services ></app-services>
<app-contact #contact ></app-contact> 
<div id="foot" class="container-fluid" style="background-color: #232f42; height: 120px; margin-top: 50px;">
  <div class="container">
        &copy; Copyright <strong><span>MTZ Solutions</span></strong>. All Rights Reserved
  </div>
</div>
</div>