<div id="services"class="foton container-fluid mt-8" style="padding: 0px;width: 100%;max-height: 880px;background: #deded6;padding-top: 52px;padding-bottom: 20px">
		<div  class="container">
			<div class="container pt-5"data-aos="fade-down" data-aos-duration="2000">
				<h1 *ngIf= "lang =='ing'">Services</h1>
				<h1 *ngIf= "lang =='esp'">Servicios</h1>
			</div>
			<div class="container servicios_principal">
				<div class="container row mb-8" data-aos="fade-down" data-aos-duration="2000">
					<div class="container col-md-6 servicio">
				   		<span class="ion ion-md-happy"></span>
				   		<h4 *ngIf="lang=='ing'">The first service is the tizeshion</h4>
				   		<h4 *ngIf="lang=='esp'">El primer servicio es la tiza</h4>
				   	</div>
				   	<div class="container col-md-6 servicio">
					   	<span class="ion ion-md-contacts"></span>
				   		<h4 *ngIf="lang=='ing'">The second service is the tizeshion too and i need that will be more large</h4>
				   		<h4 *ngIf="lang=='esp'">El segundo servicio tambien es la tiza y me hace falta que sea mas largo</h4>
				   	</div>
				</div>	
				<div class="container row" data-aos="fade-up" data-aos-duration="2000">
					<div class="container col-md-6 servicio">
				   		<span class="ion ion-md-happy"></span>
				   		<h4 *ngIf="lang=='ing'">The first service is the tizeshion</h4>
				   		<h4 *ngIf="lang=='esp'">El primer servicio es la tiza</h4>
				   	</div>
				   	<div class="container col-md-6 servicio">
					   	<span class="ion ion-md-contacts"></span>
				   		<h4 *ngIf="lang=='ing'">The second service is the tizeshion too and i need that will be more large</h4>
				   		<h4 *ngIf="lang=='esp'">El segundo servicio tambien es la tiza y me hace falta que sea mas largo</h4>
				   	</div>
				</div>
			</div>
		</div>	
</div>

